<h1><%= current_user.username %>'s Workout [EDIT]</h1>
<h2><%= Time.now.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p") %></h2>
<h4>* Fields are Required</h4>

<form action="/workouts/<%= @workout.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Workout Name *</label>
  <input type="text" name="workout[name]" id="workout[name]" value="<%= @workout.name %>">

  <label>Workout Duration (Minutes) *</label>
  <input type="text" name="workout[duration_mins]" id="workout[duration_mins]" placeholder="#" value="<%= @workout.duration_mins %>">

  <input type ="submit" id="submit" value="Submit">
</form>
