<h1><%= @workout.name %></h1>
<h2><%= @workout.created_at.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p") %></h2>
<h2>Duration: <%= @workout.duration_mins %> Minutes</h2>
<h3><a href="/users/<%= @workout.user.slug %>">View User Profile</a></h3>

<% if @workout.user == current_user %>
  <a href="/workouts/<%= @workout.id %>/edit">Edit Workout</a>

  <form method="POST" action="/workouts/<%= @workout.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Workout">
  </form>
<% end %>

<table>
  <tr>
    <th>Exercise</th>
    <th>Sets</th>
    <th>Reps</th>
    <th>Weight(lbs)</th>
    <th>Notes</th>
    <% if @workout.user == current_user %>
      <th><a href="/exercises/new">Add Exercise</a></th>
    <% end %>
  </tr>
  <% @workout.exercises.each do |exercise| %>
    <tr>
      <td><%= exercise.name %></td>
      <td><%= exercise.sets %></td>
      <td><%= exercise.reps %></td>
      <td><%= exercise.weight_lbs %></td>
      <td><%= exercise.notes %></td>
      <% if @workout.user == current_user %>
      <td>
        <a href="/exercises/<%= exercise.id %>/edit">Edit Entry</a>

        <form method="POST" action="/exercises/<%= exercise.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Entry">
        </form>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
