<h1><%= @workout.user.username %>'s Workout</h1>
<h2><%= @workout.name %></h2>
<h2><%= @workout.created_at.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p") %></h2>
<h2><%= @workout.duration_mins %> Minutes</h2>

<a href="/workouts/<%= @workout.id %>/edit">Edit Workout</a>
<a href="/exercises/new">Add Exercise</a>

<form method="POST" action="/workouts/<%= @workout.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Workout">
</form>
