<h1>Edit Exercise Entry</h1>
<h4>* Fields are Required</h4>
<br>
<form action="/exercises/<%= @exercise.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Exercise Name *</label>
  <input type="text" name="exercise[name]" value="<%= @exercise.name %>"><br>
  <label>Sets *</label>
  <input type="number" name="exercise[sets]" placeholder="#" value="<%= @exercise.sets %>"><br>
  <label>Reps *</label>
  <input type="number" name="exercise[reps]" placeholder="#" value="<%= @exercise.reps %>"><br>
  <label>Weight (lbs)</label>
  <input type="number" name="exercise[weight_lbs]" placeholder="#" value="<%= @exercise.weight_lbs %>"><br>
  <label>Notes</label><br>
  <textarea name="exercise[notes]" rows="5"><%= @exercise.notes %></textarea><br>

  <input type="submit" id="submit" value="Submit">
</form>
<br>
<h4><a href="/workouts/<%= session[:workout_id] %>">Back to Workout Page</a></h4>
